################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServiceDate.Services/ServiceDate.Services/obj
/ServiceDate.Services/ServiceDate.Tests/obj
/ServiceDate.Services/ServiceDate.Tests/bin/Debug/net5.0
/ServiceDate.Services/ServiceDate.Services/bin/Debug/net5.0
/.vs
/ServiceDate.Services/.vs/ServiceDate.Services/v16
/ServiceDate.Services/ServiceDate.Core/obj
/ServiceDate.Services/ServiceDate.Core/bin/Debug/net5.0
/ServiceDate.Services/ServiceDate.Services.sln.DotSettings.user
/ServiceDate.Services/ServiceDate.Api/bin/Debug/net5.0
/ServiceDate.Services/ServiceDate.Api/obj
/ServiceDate.Services/.vs/ServiceDate.Services/config
